body{
    background-color: black;
}
#principal{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    background-color: gray;
    border-radius: 10px;
    min-height: 300px;
}
#cabecalho h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
#cabecalho{
    background-color: gold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#div_lista_de_tarefas{
    min-height: 150px;
    background-color: white;
    width: 70%;
    border:2px solid black;
    margin: 10px auto 10px;
}
#lista_de_tarefas {
    list-style-type: none; 
    padding: 0; 
}

#lista_de_tarefas li {
    padding: 10px; 
    background-color: #f9f9f9;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width:60%;
    margin:auto;
}

#lista_de_tarefas li button {
    background-color: #007bff;
    color: #fff; 
    border: none; 
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
}

#lista_de_tarefas li input[type="checkbox"] {
    margin-right: auto;
}

#lista_de_tarefas li input[type="button"] {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#lista_de_tarefas li input[type="button"]:hover {
    background-color: #c82333; 
}

#div_area_nova_tarefa button{
    background-color: green;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#div_area_nova_tarefa  .Botrev{
    background-color: blue;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}